
exercicioslogicadeprogramação/.idea/exercicioslogicadeprogramação.iml
exercicioslogicadeprogramação/.idea/inspectionProfiles/profiles_settings.xml
exercicioslogicadeprogramação/.idea/misc.xml
exercicioslogicadeprogramação/.idea/modules.xml
